@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
.about span,
.advantages h2,
.advantages .card h4,
.graduants h2,
.graduants .card h4,
.goals h2{
    color:#fa4f0b;
}


/* ==========navbar=========== */


.navbar{
    padding: 0px;
    background-color: #343a40;
}
.navbar-brand{
    width: 57px;
}
.navbar button span{
    display: block;
    width: 30px;
    margin: 5px;
    height: 2px;
    background-color:#ddd;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-nav{
    align-items: center;
}
.navbar-nav li{
    padding: 5px;
}
.navbar-nav li a {
    font-size: 18px;
    margin:auto 8px;
    color: rgb(236, 236, 236);
    transition: all 0.5s;
    padding:  12px;
}
.navbar-nav li.active a,
.navbar-nav li.active a:hover{
    color: #face0b ;
    padding: 12px;
}
.navbar-nav li a:hover{
    color: #1ee4e7de ;
}
.column{
    height:48px;
    border-right: 1px solid #face0b;
}



/* ==================carousel================== */


.carousel img{
    height: 700px;
    width: 100%;
    background-size: cover;
}
.carousel-caption{
    margin-bottom: 20%;
    background-color: rgba(3,3,3,0.3);
    border-radius: 20px;

}
.carousel p,
.carousel h3{
    color: #face0b;
    text-transform: capitalize;
}
.carousel-indicators li{
    background-color: #fa4f0b;
}

/* ==================about us==============*/


.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .lead{
    color:#888;
    font-size: 25px;
    margin-top: 15px;
}
.about img{
    margin-top: 20px;
    width:100%;
}
.about ul li{
    list-style: none;
    margin: 30px;
    float: inline-start;
}
.about  ul li i{
    margin-right: 30px;
}

/* =================advantages=============== */

.advantages .card{
    margin: 20px auto;
    box-shadow: 3px 3px 10px #888 ;
    background-color: #face0b;
    border: none;
}
.advantages .card-img-top{
    height:300px;
}

/* =================honor board=============== */

.graduants{
    margin-top: 70px;
}
.graduants .firstp{
    margin-bottom: 40px;
}
.graduants .card{
    margin: 40px auto;
    box-shadow: 3px 3px 10px #888 ;
    background-color: #face0b;
    border: none;
    height: 300px;
    position: relative;
}
.graduants img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -18%;
    left: 36%;
}
.graduants .card .card-body{
    margin-top: 50px;
}
.graduants h4,
.graduants p{
    text-transform: capitalize;
}
.graduants p span{
    text-transform: uppercase;
}

/* =============goals============ */

.goals{
    padding: 40px;
    margin: 20px auto 20px;
    line-height: 2em;
    border-radius: 20px;
    background-color: #face0b;
    box-shadow: 3px 3px 10px #888;
}
.goals h2{
margin-bottom: 30px;
}

/* =================footer========== */

footer{
    /* margin-top: 30px; */
    height: 70px;
    background-color: #fa4f0b;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p span{
    text-transform: uppercase;
    color: #face0b;
}

/* ==================teachers page & students page=========== */

.teachers,
.students,
.lessons{
    width: 80%;
    margin: 170px auto 20px;
}
.lessons h2{
    margin-bottom: 30px;
}
.teachers > h1,
.students > h1{
    margin: 40px;
    text-transform: capitalize;
}
.teachers .headings,
.students .headings{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.teachers > ul li,
.students > ul li{
    text-transform: capitalize;
    display: inline-block;
    padding: 10px ;
    background-color:#fa4f0b;
    cursor: pointer;
    border-radius: 5px 5px 0 0;

}
.teachers > ul li.active-tab,
.students > ul li.active-tab{
    background-color: #face0b;
}
.teachers .info,
.students .info{
    border-radius: 0 5px 5px 5px;
    margin: 0 auto;
    box-shadow: 3px 3px 5px rgba(160, 160, 160, 0.719);
    background-color: #face0b;
    padding: 20px;
}
.teachers .info:not(:first-of-type),
.students .info:not(:first-of-type){
    display: none;
}
.accordion{
    margin: 40px;
}
.teachers .card-body,
.students .card-body{
    padding: 40px;
}
.popup-parent{
    width: 100%;
    height: 100%;
    background-color: #aaa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.popup{
    padding: 30px;
    background-color: #FFF;
    width: 400px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -200px;
    border-radius: 5px;
}
.hidden{
    display: none;
}
.popup *{
    margin: 10px auto;
}
input[type='submit']{
    /* display: block; */
    margin-left: 60px;
}
input[type='button']{
    margin-right: 60px;
}

/* ===============contact us=================== */

.contact-us{
    background-image: url(../img/contact.jpg);
    background-size: cover;
    height: 800px;
    padding: 10px;
}
.contact-us h2{margin: 20px;}
.contact-form {
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #fa4f0b;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888;
}
.contact-us form input{
    margin: 10px auto;
}
.contact-us form textarea{width: 100%;}
.contact-us form button{
    display: block;
    margin: 20px auto;
}
.separator{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.separator span{
    position: absolute;
    top: 100px;
    height: 220px;
    width: 3px;
    background-color: #235058;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator p{
    height: 50px;
    min-width: 50px ; 
    background-color: #face0b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us h3 i{
    font-size: 2em;
    margin-bottom: 30px;
    color: #face0b;
}
.contact-us ul li{
    margin: 10px;
    font-size: 1.5em;
    color: #333;
}

/* ==================media query=============== */
@media (min-width:576px) and (max-width:767px){
    .navbar .column{
        width: 400px;
        height: 1px;
        background-color: #face0b;
    }
    .graduants .card{
        height: 400px;
    }
    .contact-us{
        height: auto;
    }
    .separator{
        display: none;
    }
}
@media (min-width:768px) and (max-width:991px){
    .navbar .column{
        width: 400px;
        height: 1px;
        background-color: #face0b;
    }
    .contact-us{
        height: auto;
    }
    .separator{
        display: none;
    }
    
}
/* @media (min-width:992px){
    .navbar .column{
        width: 400px;
        height: 1px;
        background-color: #face0b;
    }
} */